@import "~antd/dist/antd.css";

.App {
  text-align: center;
}
html {
  --antd-wave-shadow-color: #05fca9;
}
body {
  background-color: rgb(240, 242, 245);
}
textarea {
  resize: none;
}
/* button */
.button {
}
.button::after,
.button:hover,
.button:focus {
  color: rgba(0, 0, 0, 0.85) !important;
  border-color: rgba(0, 0, 0, 0.85) !important;
}
/* logo */
.logo {
  height: 15em;
}
.logo-no-text {
  max-height: 75px;
}
/* logo */

/* nav */
.navbar {
  background-color: #05fca9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.nav-item-container {
  width: 100%;
  max-width: 1860px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.is-menu-container,
.is-list-container {
  background-color: #05fca9;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: 1em;
}
.is-menu-item,
.is-list-item {
  background-color: #fff;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  text-align: center;
}
.is-menu-item:hover,
.is-list-item {
  opacity: 95%;
}
.menu-first,
.list-first {
  margin-top: 0 !important;
}
.menu-last,
.list-last {
  margin-bottom: 0 !important;
}
.is-expandable-expanded {
  height: 250px !important;
  transition: height 0.75s ease-in-out;
}
.is-expandable-collapsed {
  height: 40px !important;
  transition: height 0.75s ease-in-out;
}
.menu-dissolve {
  opacity: 0;
  transition: opacity 0.75s ease-out;
}
.menu-appear {
  opacity: 1;
}

/* nav */

/* sidebar */
/* sidebar */

/* main layout */
/* //////////// */
.main-layout {
  display: flex;
  align-items: center;
}
.main-content {
  max-width: 1024px;
  width: 100%;
  border: 5px;
}
/* home page */
.home-page {
  max-width: 750px;
  width: 100%;
  padding: 1em;
}
/* home page */

/* profile */
.profile {
}
.headshot {
  height: 100%;
}
.banner {
  max-width: 100%;
}

/* profile */

/* //////////// */
/* main layout */

/* posts */

.post-container {
  width: 100%;
  border-radius: 5px;
}
.post {
  border-top: 1px solid #ccc;
}
.last-post {
  border-bottom: 1px solid #ccc;
}
.first-post {
  border-top: none;
}

/* footer */
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #05fca9;
}
/* footer */

/* @media wider than 768px */
@media only screen and (min-width: 768px) {
  .nav-item-container {
    justify-content: space-around;
  }
  .main-content {
    box-shadow: 0 4px 8px 0 #ccc;
    transition: 0.3s;
    margin-top: 1em;
  }
  .banner {
    padding: 0.5em;
    max-width: 99%;
  }
  .stack-cols-mobile {
    flex-direction: row !important;
  }
  .stack-cols-mobile-rev {
    flex-direction: row !important;
  }
  .first-post {
    border-top: 1px solid #ccc;
  }
}

/* helpers */
.is-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-overflow-hidden {
  overflow: hidden;
}
.stack-cols {
  flex-direction: column;
}
.stack-cols-mobile {
  flex-direction: column;
}
.stack-cols-mobile-rev {
  flex-direction: column-reverse;
}
.text-align-left {
  text-align: start;
}
.has-spacer-padding {
  padding: 0.75em;
}
.has-spacer-padding-bottom {
  padding-bottom: 0.75em;
}
.has-spacer-padding-top {
  padding-top: 0.75em;
}
.bg-brand {
  background-color: #05fca9;
  color: #fff;
}
.has-border-basic {
  border: 1px solid #ccc;
}
